src/main/mule/battlesnake-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd ">
    <flow name="root">
        <http:listener path="/" config-ref="battlesnake-api-httpListenerConfig" doc:name="GET /" doc:id="xkxgdm" allowedMethods="GET" />
        <ee:transform>
            <ee:message>
                <ee:set-payload>
                    <![CDATA[%dw 2.0
output application/json
---
{
  apiversion: "${battlesnake.config.apiversion}",
  author: "${battlesnake.config.author}",
  color: "${battlesnake.config.color}",
  head: "${battlesnake.config.head}",
  tail: "${battlesnake.config.tail}",
  version: "${battlesnake.config.version}",
}]]>
                </ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="start">
        <http:listener path="start" config-ref="battlesnake-api-httpListenerConfig" doc:name="POST /start" doc:id="dyhgzs" allowedMethods="POST" />
        <logger level="INFO" message="#['Start Game $(payload.game.id)']" />
        <logger level="INFO" doc:name="Logger" doc:id="b320da4e-842c-40a6-b021-db4e0247a345" message="#[payload]" />
    </flow>
    <flow name="move" doc:id="0b99858e-58e7-4071-89db-868292f55b18">
        <http:listener path="move" config-ref="battlesnake-api-httpListenerConfig" doc:name="POST /move" doc:id="stcoii" allowedMethods="POST" />
        <logger level="INFO" message="#['Move Game $(payload.game.id) turn $(payload.turn)']" />
        <logger level="INFO" doc:name="Logger" doc:id="1423365b-9bc2-4e2e-9f28-a85fa84de445" message="#[payload]" />
        <ee:transform doc:name="Transform Message" doc:id="54a59f57-b3b2-49c9-9df1-ea5de079e976">
            <ee:message>
                <ee:set-payload resource="dw/move-snake.dwl" />
            </ee:message>
        </ee:transform>
        <logger doc:name="Logger" doc:id="ttzcjn" message="#['Move Game $(payload.id) turn $(payload.turn); moving $(payload.move default '')']" />
    </flow>
    <flow name="end">
        <http:listener path="end" config-ref="battlesnake-api-httpListenerConfig" doc:name="POST /end" doc:id="vpbmdc" allowedMethods="POST" />
        <logger level="INFO" message="#['End Game $(payload.game.id)']" />
        <logger level="INFO" doc:name="Logger" doc:id="e9f0dd37-688a-4c17-9213-f7139eef0e9b" message="#[payload]" />
    </flow>
</mule>